{% extends "dashboard/dashboard_base.html" %}

{% block content %}

<h2>Add Community</h2>

<form method="POST">

    <input type="text"
           name="name"
           placeholder="Community Name"
           required>

    <br><br>

    <textarea
        name="description"
        placeholder="Description"
        required></textarea>

    <br><br>

    <input type="text"
           name="category"
           placeholder="Category"
           required>

    <br><br>

    <button type="submit">
        Create Community
    </button>

</form>

{% endblock %}