{% extends "dashboard/dashboard_base.html" %}

{% block title %}Edit Event{% endblock %}

{% block content %}

<div class="container mt-4">

<h2>Edit Event</h2>

<form method="POST">

<div class="mb-3">
<label>Title</label>
<input
type="text"
name="title"
class="form-control"
value="{{ event.title }}"
required>
</div>

<div class="mb-3">
<label>Description</label>
<textarea
name="description"
class="form-control"
rows="4"
required>{{ event.description }}</textarea>
</div>

<div class="row">

<div class="col-md-6">
<label>Date</label>
<input
type="date"
name="event_date"
class="form-control"
value="{{ event.event_date }}"
required>
</div>

<div class="col-md-6">
<label>Time</label>
<input
type="time"
name="event_time"
class="form-control"
value="{{ event.event_time }}"
required>
</div>

</div>

<div class="mb-3 mt-3">
<label>Venue</label>
<input
type="text"
name="venue"
class="form-control"
value="{{ event.venue }}"
required>
</div>

<div class="mb-3">
<label>Organizer</label>
<input
type="text"
name="organizer"
class="form-control"
value="{{ event.organizer }}"
required>
</div>

<div class="mb-3">
<label>Registration Link</label>
<input
type="url"
name="registration_link"
class="form-control"
value="{{ event.registration_link }}">
</div>

<button class="btn btn-primary">
Update Event
</button>

</form>

</div>

{% endblock %}