<nav class="navbar navbar-light bg-white shadow-sm">

    <div class="container-fluid">

        <span class="navbar-brand fw-bold">

            Welcome,
            {{ current_user.name }}

        </span>

        <div>

            <ul class="dropdown-menu dropdown-menu-end shadow border-0 mt-2" style="width:350px;">

                <li class="dropdown-header fw-bold">
                    Notifications
                </li>

                <li><hr class="dropdown-divider"></li>

                {% if navbar_notifications %}

                    {% for n in navbar_notifications %}

                    <li>

                        <a class="dropdown-item py-2"
                        href="{{ url_for('notification.notifications') }}">

                            <strong>{{ n.title }}</strong><br>

                            <small class="text-muted">
                                {{ n.message }}
                            </small>

                        </a>

                    </li>

                    {% endfor %}

                {% else %}

                    <li>

                        <span class="dropdown-item-text text-muted">

                            No notifications yet.

                        </span>

                    </li>

                {% endif %}

                <li><hr class="dropdown-divider"></li>

                <li>

                    <a class="dropdown-item text-center fw-semibold"
                    href="{{ url_for('notification.notifications') }}">

                        View All Notifications

                    </a>

                </li>

            </ul>
            
            <a href="{{ url_for('notification.notifications') }}" class="position-relative me-3">

                <i class="bi bi-bell fs-5"></i>

                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ unread_notifications }}
                </span>

            </a>

            <img src="{{ url_for('static', filename='uploads/profile_pics/' + current_user.profile_pic) }}"
                 width="40"
                 class="rounded-circle">

        </div>

    </div>

</nav>